{% extends "main.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detail_basket.css' %}">
{% endblock %}

{% block content %}
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit price</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr class="product">
                    <td>
                        <a href="{% url 'detail_info' product.id %}" class="cart_img">
                            <img src="{{ product.image.url }}" alt="">
                        </a>
                    </td>
                    <td>{{ product.brand }}  {{ product.model }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'cart_remove' product.id%}">Remove</a></td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}

        </tbody>
        <tfoot>
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tfoot>
    </table>
    <p class="text-right">
        <a href="{% url 'home' %}" class="button light">Continue shopping</a>
        <a href="{% url 'order_create' %}" class="button">Checkout</a>
    </p>
{% endblock %}